<h2>Kanban Board Example</h2>
<div class="kanban-container">
  <div class="kanban-board">
    <div class="kanban-board-wrapper">
      <div class="kanban-board-columns">
        <div
          cdkDropList
          cdkDropListOrientation="horizontal"
          class="kanban-board-columns"
          (cdkDropListDropped)="dropGrid($event)"
        >
          <div
            cdkDragLockAxis="x"
            class="kanban-board-column"
            *ngFor="let column of kanbanBoard.kanbanColumns"
            cdkDrag
          >
            <div class="kanban-column-title" cdkDragHandle>
              {{ column.name }}
            </div>
            <div
              cdkDropList
              class="tickets-container"
              id="{{ column.id }}"
              [cdkDropListConnectedTo]="['1', '2', '3', '4']"
              [cdkDropListData]="column.tickets"
              (cdkDropListDropped)="drop($event)"
            >
              <mat-card class="tickets" *ngFor="let ticket of column.tickets; let i = index" cdkDrag>
                <button class="close" mat-button (click)="removeTicket(column, i)">X</button>
                <mat-card-title>{{ ticket.title }} </mat-card-title>
                <mat-card-content>{{ ticket.description }}</mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kanban-board-form" [formGroup]="kanbanBoardForm">
    <header><h2>Add Ticket</h2></header>
    <div class="kanban-form-group">
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        class="form-input"
        formControlName="title"
        name="title"
        placeholder="Enter ticket title"
      />
    </div>
    <div class="kanban-form-group">
      <label for="description">Description</label>
      <input
        type="text"
        id="description"
        class="form-input"
        formControlName="description"
        name="description"
        placeholder="Enter ticket description"
      />
    </div>
    <div>
      <div class="radio-btn-group-title">Choose kanban board column</div>
      <div class="radio-btn-group">
      <label class="container">To Do
        <input type="radio" checked="checked" value="toDo" formControlName="columnName">
      </label>
      <label class="container">In Progress
        <input type="radio" value="inProgress" formControlName="columnName">
      </label>
      <label class="container">QA
        <input type="radio" value="qa" formControlName="columnName">
      </label>
      <label class="container">Done
        <input type="radio" value="done" formControlName="columnName">
      </label>
    </div>
    </div>
    <button class="btn btn-primary" (click)="addTicket()">Add Ticket</button>
  </div>
</div>
